<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>详情页</title>
	<link rel="stylesheet" href="./css/reset.css">
	<link rel="stylesheet" href="./css/detail.css">
</head>
<body>
	<div class="app">
		<div class="header">
			<img class="logo" src="img/book.jpg" alt="logo">
			<input id="input" class="input" type="text" maxlength="20">
			<a class="search" href="javascript">搜索</a>
			<ul id="ul" class="ul"></ul>

			<div class="header-wrap">
				<a href="javascript:;">回到首页</a>
				<a href="javascript:;">英文</a>
			</div>
		</div>

		<script src="./js/lib/jquery.min.js"></script>
		<script src="./js/get.js"></script>

		<div class="container">
			<div class="book">
				<div class="book-title">龙族I</div>
				<div class="book-author book-item">
					作者:<span class="item-hl">江南</span>
				</div>
				<div class="book-type book-item">
					类别:<span class="item-hl">奇幻热血</span>
				</div>
				<div class="book-size book-item">
					书本大小:<span class="item-hl">1 MB</span>
				</div>
				<div class="book-format book-item">
					书本格式:<span class="item-hl">txt</span>
				</div>
				<div class="book-publishT book-item">
					出版时间:<span class="item-hl">2010年4月</span>
				</div>
				<div class="book-createT book-item">
					加入时间:<span class="item-hl">一个月前</span>
				</div>
				<div class="book-summary">
					书本简介:
					<p class="item-summary">
						他以为他将这样度过一生，他以为他始终只是个衰小孩。但是，一封来自卡塞尔学院的录取通知书改变了他的一生。云层里透出神秘的吟唱：你也有神奇的父母，你也有热血的同伴，你的血管里流动着龙族的血液。而你的目标将是 —— 屠龙。
						由中国最有影响力的青春读物品牌《知音漫客》、《漫客•小说绘》策划，著名青春小说家，九州创始人江南启动全新青春热血大作《龙族》，该作品以一个少年的冒险之旅为故事核心，展现了龙的世界中的神秘与宏大。主角路明非只是一个普通的懵懂高中生，一封来自卡塞尔学院的来信改变了他平淡的人生。在热血与神秘的呼唤下，在爱与梦想的抉择下，他毅然选择了未知。黑色的直升机划过天际，陌生国度的大门向他缓缓开启，平凡的中国小孩走上不平凡的屠龙之路。而遥远的卡塞尔学院却处处透着神秘——奇怪的课程、搞笑的学长、疯狂的教师、骄傲的同学……路明非刚刚进入学校就遭遇了无数的怪事。但是，随之而来的挑战也开始了，等级考试、言灵考验、地图搜索。龙的世界也终于在水下露出了神秘面纱。这个世界究竟有没有龙？龙的世界又有哪些未解之谜？路明非的人生将是如何？理想、热血、奋斗，全新的人生，全新的冒险经历！此作彻底颠覆江南前期作品风格，直击当下90后青少年的思想与生活，作品于《漫客•小说绘》火热连载中！
						由小城市走向大洋彼岸，平凡普通的生活突然变得精彩传奇，蔫小孩受到腰细腿长的御姐召唤，变成了日益成长的屠龙勇士。这个，就是《龙族》。而这个蔫主角路明非，其实就是江南内心所向往的生活。 ——沧月，著名青春畅销作家，江南资深契妹，代表作《镜》系列、《羽》系列、《七夜雪》等。
						青春小说，从人物到故事，从构思到情感，从文字到感觉，近十年来都有着不小的变化。而像《龙族》这种集热血感、青春感、动漫风于一体的小说，算是近年来的一个创新。而《龙族》也是江南最具创新突破感的作品。 ——明晓溪，著名青春畅销书作家，代表作《烈火如歌》、《泡沫之夏》、《心之萌》等。
						《龙族》讲的，其实是一个关于“抗争”的主题，在那个世界里，精英分子在抗争，蔫小孩也在抗争；他们抗争压迫，抗争命运。但是最终却需要回到“热血成长”的主题，因为只有正义的抗争与热血的成长，才是让年轻人或兴奋或思考的理由。请让我们一起热血！ ——蔡骏，著名悬疑畅销书作家，代表作《天机》、《人间》、《地狱的第十九层》等。
						江南《龙族》官网：http://lz.zymk.cn
						江南《龙族》小组：http://www.douban.com/group/LongZu
					</p>
					<a class="show-summary" href="javascript:;">展开全部</a>
				</div>
			</div>

			<div class="search-wrap">
				<div class="download-search">
					<div class="search-title">下载地址</div>
					<div class="download-url">www.hoodoo.com/download?id=1624523</div>
				</div>
				<div class="hot-search search-marTop">
					<div class="search-title">下载来源</div>
					<div class="download-url">www.hoodoo.com</div>
				</div>
				<div class="buy-genuine search-marTop">
					<div class="search-title">购买正版</div>
					<div class="buy-wrap">
						<div class="buy-title">亚马逊购买(readfree.me)</div>
						<a href="javascript:;">龙族I 江南</a>
					</div>
					<div class="buy-wrap">
						<div class="buy-title">看看豆购买(kankandou.com)</div>
						<a href="javascript:;">龙族I 江南</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script src="./js/detail.js"></script>
</body>
</html>