# This Pipfile is used solely to manage a development environment
# -- it doesn't factor into the released package.

[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
boto3 = "*"
django = "*"
requests = "*"
sparkpost = "*"

[dev-packages]
flake8 = "*"
mock = "*"
sphinx = "*"
sphinx-rtd-theme = "*"
tox = ">3.7.0"
twine = "*"

[requires]
python_version = "3.7"
