
	{% extends 'rango/base_bootstrap.html' %}
	
	<!-->
		
		
	<!DOCTYPE html>
	{% load staticfiles %}
	{% load rango_template_tags %}
	<html>
	<head>
		<title>
			Rango - 
			{% block title_block_ %} 
			How to Tango with Django!
			{% endblock %}
		</title>
	</head>
	<body>
		
		<div>
		{% block sidebar_block %}
			{% get_category_list category %}
		{% endblock %}
		</div>
		
		<div>
			{% block body_block %}
			{% endblock %}
		</div>
		<hr />
		<div>
			<ul>
				<li><a href="{% url 'add_category' %}">Add a New Category</a></li>
				<li><a href="{% url 'about' %}">About</a></li>	
				<li><a href="{% url 'index' %}">Index</a></li>		
			</ul>
		</div>
	</body>
	</html>
		
		-->
